mounts:
  - ["/dev/vdb", "none", "swap", "sw", "0", "0"]
  - ["/dev/mapper/vgdb-db", "/var/lib/mysql", "ext4", "defaults", "1", "1"]
  - ["/dev/mapper/vgdblog-dblog", "/var/log/mysql", "ext4", "defaults", "1", "1"]
